{{define "test_card"}}
<div class="card border-{{.Result.State | testStateColour}} test mb-2">
  <div class="card-header text-white bg-{{.Result.State | testStateColour}}">
      <div class="d-flex flex-row">
        <div class="flex-grow-1">
          {{.Result.Name}}
        </div>
      </div>
  </div>
  <div class="card-body py-1 bg-light">
    <a href="/tests/{{.ID}}" class="text-muted">
      <small>ID: {{.ID}}</small>
      <i class="fas fa-link"></i>
    </a>
  </div>
  {{if .Result.SubTs}}
  <ul class="list-group list-group-flush">
    {{$parentT := .Result}}
    {{range .Result.SubTs}}
    {{template "test_card_subtest" . | asSubTest $parentT 0}}
    {{end}}
  </ul>
  {{end}}
  <div class="card-footer">
    <div class="d-flex flex-row">
      <div class="flex-grow-1">
        <small class="text-muted">{{.Result.StartedAt | formatTime}} ({{.Result.StartedAt | formatRelativeTime}})</small>
      </div>
      <div>
        <small class="text-muted">{{.Result.Duration | formatDuration}}</small>
      </div>
    </div>
  </div>
</div>
{{end}}

{{define "test_card_subtest"}}
<li class="list-group-item subtest">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-truncate m-0 p-0">
        <span class="d-inline-block" style="width: {{.Level | subTestNameIndent}}px;">&nbsp;</span><span class="text-truncate">{{.Test.Name | trimPrefix .ParentTest.Name}}</span>
      </div>
      <div class="col-4 text-right m-0 p-0">
        <small class="pr-1">{{.Test.Duration | formatDuration}}</small>
        <span class="badge badge-pill bg-{{.Test.State | testStateColour}} text-right">{{.Test.State | testStateMessage}}</span>
      </div>
    </div>
  </div>
</li>
{{$parentTest := .Test}}
{{$nextLevel := .NextLevel}}
{{range .Test.SubTs}}
{{template "test_card_subtest" . | asSubTest $parentTest $nextLevel}}
{{end}}
{{end}}
